@import url("fontseuclid/stylesheet.css");

body
{
overflow-x:hidden;
width:100%;
}
html
{
overflow-x:hidden;
width:100%;
}

.nav-link {
  color: black !important;
  padding-left: 30px !important;
  font-size: 18px;
  font-family: "Euclid Circular B", Arial, sans-serif;
}
.navbar-brand {
  padding-left: 50px !important;
}
.green-col {
  background-color: #2eb875;
  color: white;
  justify-content: center;
  padding-top: 150px;
}
.heading1 {
  font-size: 72px;
  font-family: "Euclid Circular B", Arial, sans-serif;
  line-height: 80px;
  font-weight: 600;
}
.signup-btn {
  border-style: none;
  height: 55px;
  width: 220px;
  border-radius: 2rem;
  font-weight: 650;
  letter-spacing: 0.03rem;
}
.diff-row {
  align-items: center;
  padding-top: 90px;
  padding-left: 130px;
}
.third-sec {
  font-family: "Euclid Circular B", Arial, sans-serif;
  padding: 200px;
}
.third-sec h2,
.fourth-sec h2 {
  font-weight: 600;
}
.third-sec p,
.fourth-sec p,
.fifth-sec p {
  color: #818391;
  font-size: 18px;
}
.fourth-sec {
  height: 450px;
  font-family: "Euclid Circular B", Arial, sans-serif;
  background-color: #d9fde5;
  position: relative;
}
.fourth-sec h2 {
  font-size: 48px;
}
.fourth-sec p {
  font-size: 20px;
}
.diff-col-2 {
  padding-top: 150px;
}
.fifth-sec {
  font-family: "Euclid Circular B", Arial, sans-serif;
  padding: 200px;
}
.fifth-sec h4 {
  font-weight: 600;
}
.diff-con {
  text-align: center;
  font-family: "Euclid Circular B", Arial, sans-serif;
  padding: 100px;
}
.diff-con h2 {
  font-weight: 600;
  font-size: 48px;
  color: white;
}
.fifth-sec img {
  border-radius: 50%;
  background-color: #d9fde5;
  padding: 16px;
  font-size: 13px;
  line-height: 60px;
  text-align: center;
}
footer {
  padding-top: 50px;
  padding-bottom: 70px;
  font-family: "Euclid Circular B", Arial, sans-serif;
}
.last-col i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid grey;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
}
.third-sec-mob, .fourth-sec-mob, .fifth-sec-mob{
  display: none;
}

/*Media Queries*/
@media screen and (max-width: 768px) {
  .bolt-logo{
    padding-left: 20px!important;
  }
  .heading1{
    font-size: 40px;
    line-height: 50px;
    
  }
  .app-sticker{
    width: 100px;
    padding-bottom: 50px;
  }
  .google-sticker{
    width: 108px;
    padding-bottom: 50px;
  }
  .first-pic{
    width: 520px;
  }
  .diff-row h2{
    font-size: 24px!important;
    text-align: center;
  }
  .diff-row{
    padding-left: 20px;
    padding-top: 50px;
  }
  .diff-row p{
    text-align: center;
  }
  .signup-div{
    display: flex;
    justify-content: center;
  }
  .third-sec, .fourth-sec, .fifth-sec{
    display: none;
  }
  .third-sec-mob,.fourth-sec-mob, .fifth-sec-mob{
    display: unset;
  }
  .fourth-sec-mob{
  height: 450px;
  font-family: "Euclid Circular B", Arial, sans-serif;
  background-color: #d9fde5!important;
  position: relative;
  }
  .fifth-sec-mob img {
  border-radius: 50%;
  background-color: #d9fde5;
  padding: 16px;
  font-size: 13px;
  line-height: 60px;
  text-align: center;
}
.diff-con h2{
  font-size: 35px;
}
.bolt-ft{
  width: 80px;
}
.app-ft, .google-ft, .gallery-ft{
  width: 90px;
}
.last-col i{
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.diff-row, .ft-row{
    display: flex!important;
    flex-direction: column;
  }
}


